$primary: #3bba9c;
$primaryBrighter: #36fda4;
$primaryBrightest: #11f08c;
$primaryLighter: lighten($primary, 30%);
$secondary: #2e3047;
$secondaryBrighter: #34374d;
$secondaryBrightest: #43455c;
$secondaryLighter: #585b77;